table {
    text-align: center;
    min-height: 500px;
    border-collapse: collapse;
}

td {
    width: 900px;
    background: #eee;
    border: solid 1px black;

}

img {
    width: 200px;
    height: 200px;
    margin-top: 50px;
}

button {
    width: 130px;
    height: 30px;
    background: #da4b3a;
    border-radius: 5px;
    border: none;
    margin: 2px;
}

button:hover {
    background: orange;
    color: white;
}

input:hover {
    background: orange;
    color: #2e2e2e;
}

p {
    font-weight: bold;
}

