
.container {
    margin: 0;
    padding: 0;
}

.header {
    height: 70px;
    background: gainsboro;
    text-align: center;
    line-height: 70px;
    color: red;
}

form {
    width: 450px;
    height: 560px;
    border: solid 1px gainsboro;
    margin: 30px auto;
    text-align: center;
    background: whitesmoke;
    border-radius: 5px;
}

#user-name {
    width: 370px;
    margin: 5px auto;
    height: 40px;
    border-radius: 5px;
    padding-left: 30px;
    border: solid 1px gainsboro;
    font-size: 17px;
}

#password1 {
    width: 370px;
    margin: 15px auto;
    height: 40px;
    border-radius: 5px;
    padding-left: 30px;
    border: solid 1px gainsboro;
    font-size: 17px;
}

#password2 {
    width: 370px;
    margin: 15px auto;
    height: 40px;
    border-radius: 5px;
    padding-left: 30px;
    border: solid 1px gainsboro;
    font-size: 17px;
}

#address {
    width: 400px;
    height: 80px;
    border-radius: 10px;
    outline: none;
}

button {
    width: 400px;
    height: 50px;
    background: dodgerblue;
    margin: 20px auto;
    text-align: center;
    line-height: 50px;
    border-radius: 7px;
    color: white;
    font-size: 19px;
    border: none;
}

form p {
    font-size: 18px;
    color: gray;
}

.footer {
    margin-top: 195px;
    height: 85px;
    background: beige;
    text-align: center;
    padding-top: 15px;
}

.footer a {
    color: blue;
    margin: 0 50px;
}

.footer p {
    margin: 5px;
    color: gray;
}







